<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META INFO -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79547588-16"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-79547588-16');
</script> -->
    
    <!-- PAGE TITLE -->
    <title>Reuben Scotland Photography</title>

    <!-- META KEYWORDS AND DESCRIPTION -->
    <meta name="keywords" content="photography photoshoot creative nigeria lagos" />
    <meta name="description" content="">
    <meta name="author" content="Reuben Scotland">

    <!-- META VIEW PORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- FAVICONS -->
    <link rel="icon" href="images/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="http://dext.c-kav.com/preview-demos/images/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://dext.c-kav.com/preview-demos/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://dext.c-kav.com/preview-demos/images/favicons/apple-touch-icon-114x114.png">

    <!-- WEB FONT-FAMILY -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <!-- VENDOR FONT ICONS CSS -->
    <link rel="stylesheet" href="fonticons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="fonticons/et-line/et-line-font.css">
    <link rel="stylesheet" href="fonticons/material-webfont/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="fonticons/pixeden/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="fonticons/simplelineicons/css/simple-line-icons.css">

    <!-- COMMON VENDOR CSS -->
    <link rel="stylesheet" href="vendor/animate-css/animate.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/sweetalert/sweetalert2.min.css">
    <link rel="stylesheet" href="vendor/jarallax/jarallax.css">
    <link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css">
    
    <!-- PAGE SPECIFIC VENDOR CSS -->
    <link rel="stylesheet" href="vendor/vegas/vegas.min.css">

    <!-- TEMPLATE COMMON CSS -->
    <link rel="stylesheet" href="minify/ckav_min.css">

    <!-- DEMO SPECIFIC TEMPLATE CSS -->

    <!-- TEMPLATE USER CUSTOM CSS -->
    <link rel="stylesheet" href="css/template-custom.css">
</head>
<body class="ckav-body tooltip-light">

    <!--
    ************************************************************
    * PAGE LOADER
    *************************************************************
    -->
    <div id="loader">
        <div class="load-three-bounce">
            <div class="load-child bounce1"></div>
            <div class="load-child bounce2"></div>
            <div class="load-child bounce3"></div>
        </div>
    </div>
    <!-- ************** END : PAGE LOADER **************  -->


    <div class="ckav-body">

        <!--
        ************************************************************
        * COMMON IN ALL
        *************************************************************
        -->
        <div class="common-section">

            <!--=================================
            = HEADER
            ==================================-->
            <header class="header-section">
                <div class="container-fluid padding-0">
                    <div class="row align-items-center">

                        <!-- LOGO -->
                        <div class="col-2">
                            <a href="#" class="logo-link">
                                <img class="logo-image margin-t-30 margin-l-30" src="images/logo.png" alt="logo" data-ckav-smd="margin-tb-10 margin-l-20">
                            </a>
                        </div>

                        <!-- NAVIGATION -->
                        <div class="col flex-cr display-none" data-ckav-smd="display-flex">
                            <div class="menu-icon-wrp margin-r-30" data-ckav-smd="margin-r-20 margin-t-10">
                                <div class="menu-icon">
                                    <div class="bar"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <!-- ======= END : HEADER =======  -->

            <!--=================================
            = NAVIGATION
            ==================================-->
            <div class="navigation-section flex-cc">
                <div class="inner-wrapper">
                    <ul class="navigation-ul">
                        
                        <li class="navigation-li">
                            <a href="index.html#" class="navigation-a section-to" data-page-section="#about">
                                <span class="text-line-wrp">
                                    <span class="text">About</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-note2"></i></span>
                            </a>
                        </li>

                        <li class="navigation-li">
                            <a href="index.html#" class="navigation-a section-to" data-page-section="#services">
                                <span class="text-line-wrp">
                                    <span class="text">Services</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-config"></i></span>
                            </a>
                        </li>

                        <li class="navigation-li">
                            <a href="index.html#" class="navigation-a section-to" data-page-section="#gallery">
                                <span class="text-line-wrp">
                                    <span class="text">Gallery</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-camera"></i></span>
                            </a>
                        </li>

                        <!-- <li class="navigation-li">
                            <a href="index-02.html#" class="navigation-a section-to" data-page-section="#team">
                                <span class="text-line-wrp">
                                    <span class="text">Team</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-users"></i></span>
                            </a>
                        </li> -->

                        <li class="navigation-li">
                            <a href="index.html#" class="navigation-a section-to" data-page-section="#testimonials">
                                <span class="text-line-wrp">
                                    <span class="text">Testimonials</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-medal"></i></span>
                            </a>
                        </li>

                        <li class="navigation-li">
                            <a href="index.html#" class="navigation-a section-to" data-page-section="#contact">
                                <span class="text-line-wrp">
                                    <span class="text">Contact</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-mail-open-file"></i></span>
                            </a>
                        </li>

                        <!-- <li class="navigation-li">
                            <a href="index-02.html#" class="navigation-a section-to" data-page-section="#clients">
                                <span class="text-line-wrp">
                                    <span class="text">Clients</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-global"></i></span>
                            </a>
                        </li> -->

                        <!-- <li class="navigation-li">
                            <a href="index-02.html#" class="navigation-a section-to" data-page-section="#subscribe">
                                <span class="text-line-wrp">
                                    <span class="text">Subscribe</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-bell"></i></span>
                            </a>
                        </li> -->

                    </ul>
                </div>
            </div>
            <!-- ======= END : NAVIGATION =======  -->

            <!--=================================
            = SOCIAL LINKS
            ==================================-->
            <div class="social-section">
                <div class="inner-wrapper">
                    <a href="index-02.html#" class="button button-icon margin-r-10 color-button-white border-glass"><i class="fab fa-facebook-f"></i></a>
                    <a href="index-02.html#" class="button button-icon margin-r-10 color-button-white border-glass"><i class="fab fa-twitter"></i></a>
                    <a href="index-02.html#" class="button button-icon margin-r-10 color-button-white border-glass"><i class="fab fa-linkedin-in"></i></a>
                    <a href="index-02.html#" class="button button-icon margin-r-10 color-button-white border-glass"><i class="fab fa-dribbble"></i></a>
                </div>
            </div>
            <!-- ======= END : SOCIAL LINKS =======  -->

        </div>
        <!-- ************** END : COMMON IN ALL **************  -->

        <!--
        ************************************************************
        * INTRO SECTION [ MAIN SECTION ]
        *************************************************************
        -->        
        <div class="main-section intro-section flex-cc typo-light" data-ckav-smd="position-rel">

            <div class="container">
                <div class="intro-text width-60" data-ckav-smd="width-100 align-center">
                    <h2 class="heading xxlarge bold-600 margin-b-25" data-ckav-smd="large">Shade of<br data-ckav-smd="display-none">Black & White</h2>
                    <p class="heading-sub mini bold-300" data-ckav-smd="mini margin-b-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores delectus quas deserunt aliquid illo quos dignissimos culpa</p>
                    <a href="https://www.picktime.com/" target="_blank" class="button color-button-white button-large margin-t-40 solid">More Info</a>
                </div>
            </div>
            
            <!--=================================
            = BACKGROUND HOLDER
            ==================================-->
            <div class="bg-holder zindex-0 position-fixed" data-ckav-smd="position-rel">
                
                <!-- OVERLAY -->
                <b data-bgholder="overlay" class="full-wh zindex-2" data-lgradient="y" data-radial-gradient="rgba(0,0,0, 0.0)|rgba(0,0,0, 0.2)"></b>
                
                <!-- BACKGROUND IMAGE -->
                <b data-bgholder="slideshow" class="full-wh bg-cover bg-cc zindex-1" data-slide-image="images/slideshow-01.jpg|images/slideshow-02.jpg|images/slideshow-03.jpg"></b>
                
            </div>
            <!-- ======= END : BACKGROUND HOLDER =======  -->

        </div>
        <!-- ************** END : INTRO SECTION [ MAIN SECTION ] **************  -->

        
        <!--
        ************************************************************
        * PAGE SECTION
        *************************************************************
        -->
        <div class="page-section-wrp">

            <!--=================================
            = ABOUT SECTION
            ==================================-->
            <div id="about" class="page-section about-section flex-cc" data-theme="theme-light">

                <!-- CLOSE BUTTON -->
                <button class="close-section button button-icon color-button-dark fs-40 border-glass zindex-9">
                    <i class="pe-7s-close"></i>
                </button>

                <div class="container-fluid padding-0">
                    <div class="row align-items-center">

                        <!-- IMAGE -->
                        <div class="col-lg-5 order-last order-lg-first">
                            <div class="image-wrapper height-min-vh-100 position-rel" data-ckav-smd="height-min-vh-50">
                                <div class="bg-holder zindex-0">
                                    
                                    <!-- BACKGROUND IMAGE -->
                                    <b data-bgholder="background-image" class="full-wh bg-cover bg-cc zindex-1" data-bg-image="images/half-bg-01.jpg"></b>
                                    
                                </div>
                            </div>
                        </div>

                        <!-- TEXT -->
                        <div class="col-lg-6 offset-lg-1">
                            
                            <div class="section-heading width-70 padding-tb-small" data-ckav-smd="width-100 padding-lr-30 align-center padding-tb-small">
                                <h2 class="heading-section large bold-600 margin-b-25" data-ckav-smd="normal">Our Story</h2>
                                <p class="heading-section-sub mini bold-300 margin-b-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores delectus quas deserunt aliquid illo quos dignissimos culpa consectetur adipisicing elit</p>

                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam laborum dicta placeat delectus et, quis nihil hic, vitae non aliquam officiis perferendis nisi eaque repudiandae architecto aspernatur minima distinctio corrupti! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, provident ea! A autem cumque fugiat excepturi possimus eaque, quae at, vel iusto ducimus distinctio, error tenetur. Earum molestias aut eum.
                                </p>

                                <a href="index-02.html#" class="button color-button-dark button-medium margin-t-40 solid">Contact Now</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- ======= END : ABOUT SECTION =======  -->

            <!--=================================
            = SERVICES SECTION
            ==================================-->
            <div id="services" class="page-section service-section flex-cc" data-theme="theme-light">
                
                <!-- CLOSE BUTTON -->
                <button class="close-section button button-icon color-button-dark fs-40 border-glass zindex-9">
                    <i class="pe-7s-close"></i>
                </button>

                <div class="container-fluid padding-0">
                    <div class="inner-wrapper width-70 margin-auto padding-tb-small" data-ckav-smd="width-100 padding-lr-30 padding-tb-small align-center">        
                        <div class="row align-items-center">

                            <div class="col-lg-4" data-ckav-smd="margin-b-40">
                                <div class="section-heading">
                                    <h2 class="heading-section large bold-600 margin-b-25" data-ckav-smd="normal">Services</h2>
                                    <p class="heading-section-sub mini bold-300 margin-b-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores delectus quas deserunt</p>
                                </div>

                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam laborum dicta placeat delectus et, quis nihil hic, vitae non aliquam officiis perferendis nisi eaque repudiandae architecto aspernatur minima distinctio corrupti! Lorem ipsum dolor sit amet,
                                </p>

                                <a href="index-02.html#" class="button color-button-dark button-medium margin-t-40 solid">Join Now</a>
                            </div>

                            <div class="col-lg-7 offset-lg-1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info-obj center radius-6 info-box-01 img-t padding-40 typo-light bgcolor-default gap-20 small animated fadeInUp" data-ckav-smd="margin-b-30">
                                            <div class="img"><span class="iconwrp color-text-white"><i class="pe-7s-gleam"></i></span></div>
                                            <div class="info">
                                                <h3 class="heading-content mini">Trending</h3>
                                                <p class="mr-0">1orem ipsum eirmod dolor sit ametconsetetur sadipscing nonumy ipsum eirmod</p>
                                            </div>
                                        </div>

                                        <div class="info-obj center radius-6 info-box-01 img-t padding-40 typo-light bgcolor-dark gap-20 small animated fadeInUp" data-ckav-smd="margin-b-30">
                                            <div class="img"><span class="iconwrp color-text-white"><i class="pe-7s-medal"></i></span></div>
                                            <div class="info">
                                                <h3 class="heading-content mini">Support</h3>
                                                <p class="mr-0">1orem ipsum eirmod dolor sit ametconsetetur sadipscing nonumy ipsum eirmod</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="info-obj center radius-6 info-box-01 img-t padding-40 typo-light bgcolor-primary gap-20 small animated fadeInUp" data-ckav-smd="margin-b-30">
                                            <div class="img"><span class="iconwrp color-text-white"><i class="pe-7s-science"></i></span></div>
                                            <div class="info">
                                                <h3 class="heading-content mini">Analytic</h3>
                                                <p class="mr-0">1orem ipsum eirmod dolor sit ametconsetetur sadipscing nonumy ipsum eirmod</p>
                                            </div>
                                        </div>

                                        <div class="info-obj center radius-6 info-box-01 img-t padding-40 typo-light bgcolor-secondary gap-20 small animated fadeInUp" data-ckav-smd="margin-b-30">
                                            <div class="img"><span class="iconwrp color-text-white"><i class="pe-7s-rocket"></i></span></div>
                                            <div class="info">
                                                <h3 class="heading-content mini">Goal</h3>
                                                <p class="mr-0">1orem ipsum eirmod dolor sit ametconsetetur sadipscing nonumy ipsum eirmod</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- ======= END : SERVICES SECTION =======  -->

            <!--=================================
            = GALLERY SECTION
            ==================================-->
            <div id="gallery" class="page-section gallery-section flex-cc" data-theme="theme-light">
                
                <!-- CLOSE BUTTON -->
                <button class="close-section button button-icon color-button-dark fs-40 border-glass zindex-9">
                    <i class="pe-7s-close"></i>
                </button>

                <div class="container-fluid padding-0">
                    <div class="inner-wrapper width-70 margin-auto" data-ckav-smd="width-100 align-center padding-tb-small">        

                        <div class="section-heading display-none" data-ckav-smd="display-block padding-lr-30 margin-b-40">
                            <h2 class="heading-section large bold-600 margin-b-25" data-ckav-smd="normal">Portfolio</h2>
                            <p class="heading-section-sub mini bold-300 margin-b-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores delectus quas deserunt</p>
                        </div>

                        <div class="portfolio-widget grid-portfolio portfolio-row grid-03" data-zoom-gallery="yes" data-ckav-md="grid-02" data-ckav-sm="grid-01">
                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/grid-portfolio-01.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="http://ckavart.com/" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">PSD Mockup</h3>
                                            <p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/grid-portfolio-01.jpg" alt="portfolio image">
    
                                </figure>
                            </div>
    
                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/grid-portfolio-02.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="http://ckavart.com/" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">PSD Mockup</h3>
                                            <p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/grid-portfolio-02.jpg" alt="portfolio image">
    
                                </figure>
                            </div>
    
                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/grid-portfolio-03.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="http://ckavart.com/" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">PSD Mockup</h3>
                                            <p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/grid-portfolio-03.jpg" alt="portfolio image">
    
                                </figure>
                            </div>
    
                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/grid-portfolio-04.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="http://ckavart.com/" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">PSD Mockup</h3>
                                            <p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/grid-portfolio-04.jpg" alt="portfolio image">
    
                                </figure>
                            </div>
    
                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/grid-portfolio-05.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="http://ckavart.com/" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">PSD Mockup</h3>
                                            <p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/grid-portfolio-05.jpg" alt="portfolio image">
    
                                </figure>
                            </div>
    
                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/grid-portfolio-06.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="http://ckavart.com/" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">PSD Mockup</h3>
                                            <p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/grid-portfolio-06.jpg" alt="portfolio image">
    
                                </figure>
                            </div>
    
                        </div>
                    </div>
                </div>

            </div>
            <!-- ======= END : GALLERY SECTION =======  -->

            

            <!--=================================
            = TESTIMONIALS SECTION
            ==================================-->
            <div id="testimonials" class="page-section testimonials-section flex-cc" data-theme="theme-light">
                
                <!-- CLOSE BUTTON -->
                <button class="close-section button button-icon color-button-dark fs-40 border-glass zindex-9">
                    <i class="pe-7s-close"></i>
                </button>

                <div class="container-fluid padding-0">
                    <div class="inner-wrapper width-70 margin-auto padding-tb-small" data-ckav-smd="width-100 padding-lr-30 padding-tb-small align-center">        
                        <div class="row align-items-center">

                            <div class="col-md-2" data-ckav-smd="margin-b-30">
                                <div class="fs-100 color-text-dark">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="carousel-widget carouselnav-1 large" data-ckav-smd="align-center" 
                                data-carousel-items="1"
                                data-carousel-itemrange="false"
                                data-carousel-autoplay="true" 
                                data-carousel-margin="30" 
                                data-carousel-loop="false"
                                data-carousel-nav="false"
                                data-carousel-dots="true"
                                data-carousel-center="false">
                                    <div class="owl-carousel">
                                        
                                        <!-- ITEM -->
                                        <div class="item">
                                            <div class="inneritem">
                                                <div class="testimonials-carousel width-90 margin-auto" data-ckav-smd="width-100">
                                                    <div class="testimonial-box testimonial-box-1 center margin-auto info-obj img-t gap-40 large" data-ckav-smd="img-t">
                                                        <div class="img border-white border-10"><img src="images/400x400-03.jpg" class="radius-full" alt="image"></div>
                                                        <div class="info">
                                                            <p class="heading-content-sub small margin-0">Lorem ipsum dolor sit amet, dolore magna aliquyam erat, consetetur sadipscing elitr, sed diam tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua et dolore magna aliquyam erat.</p>
                                                            <hr class="margin-tb-20">
                                                            <h3 class="heading-content mini margin-0">Yisum Volor</h3>
                                                            <em class="fs12">Market Analytic</em>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                        <!-- ITEM -->
                                        <div class="item">
                                            <div class="inneritem">
                                                <div class="testimonials-carousel width-90 margin-auto" data-ckav-smd="width-100">
                                                    <div class="testimonial-box testimonial-box-1 center margin-auto info-obj img-t gap-40 large" data-ckav-smd="img-t">
                                                        <div class="img border-white border-10"><img src="images/400x400-04.jpg" class="radius-full" alt="image"></div>
                                                        <div class="info">
                                                            <p class="heading-content-sub small margin-0">Lorem ipsum dolor et dolore magna aliquyam erat sit amet, dolore magna aliquyam erat, consetetur sadipscing elitr, sed et dolore magna aliquyam erat diam tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                                            <hr class="margin-tb-20">
                                                            <h3 class="heading-content mini margin-0">Polor Qisum</h3>
                                                            <em class="fs12">Market Analytic</em>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                        <!-- ITEM -->
                                        <div class="item">
                                            <div class="inneritem">
                                                <div class="testimonials-carousel width-90 margin-auto" data-ckav-smd="width-100">
                                                    <div class="testimonial-box testimonial-box-1 center margin-auto info-obj img-t gap-40 large" data-ckav-smd="img-t">
                                                        <div class="img border-white border-10"><img src="images/400x400-05.jpg" class="radius-full" alt="image"></div>
                                                        <div class="info">
                                                            <p class="heading-content-sub small margin-0">Lorem ipsum dolor sit amet, dolore magna aliquyam erat, consetetur sadipscing elitr, sed diam tempor invidunt ut  labore erat.</p>
                                                            <hr class="margin-tb-20">
                                                            <h3 class="heading-content mini margin-0">Tisum Polor</h3>
                                                            <em class="fs12">Market Analytic</em>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="fs-100 color-text-dark align-right" data-ckav-smd="align-center margin-t-30">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- ======= END : TESTIMONIALS SECTION =======  -->


            <!--=================================
            = CONTACT SECTION
            ==================================-->
            <div id="contact" class="page-section contact-section flex-cc" data-theme="theme-light">
                
                <!-- CLOSE BUTTON -->
                <button class="close-section button button-icon color-button-dark fs-40 border-glass zindex-9">
                    <i class="pe-7s-close"></i>
                </button>

                <div class="container-fluid padding-0">
                    <div class="row align-items-center">

                        <!-- IMAGE -->
                        <div class="col-lg-5">
                            <div class="map-wrapper height-min-vh-100 position-rel" data-ckav-smd="height-min-vh-50">
                                <iframe class="full-wh width-100 height-100 border-none" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25173.549759506815!2d144.97705325499777!3d-37.79137058602538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642cb954b1ce9:0xf187674ba9830e78!2sState+Library+Victoria!5e0!3m2!1sen!2sin!4v1560509152021!5m2!1sen!2sin" allowfullscreen></iframe>
                            </div>
                        </div>

                        <!-- TEXT -->
                        <div class="col-lg-6 offset-lg-1">
                            <div class="width-70 padding-tb-small" data-ckav-smd="width-100 padding-lr-30 padding-tb-small">

                                <div class="section-heading margin-b-60" data-ckav-smd="align-center">
                                    <h2 class="heading-section large bold-600 margin-b-25" data-ckav-smd="normal">Contact Us</h2>
                                </div>

                                <div class="info-obj margin-b-0 info-box-01 img-l gap-20 tiny animated fadeInUp" data-ckav-smd="margin-b-30">
                                    <div class="img"><span class="iconwrp"><i class="pe-7s-mail"></i></span></div>
                                    <div class="info">
                                        <h3 class="heading-content tiny margin-b-5">Email</h3>
                                        <p class="margin-b-0">reubenscotland@gmail.com</p>
                                    </div>
                                </div>

                                <hr class="margin-tb-20">

                                <div class="info-obj margin-b-0 info-box-01 img-l gap-20 tiny animated fadeInUp" data-ckav-smd="margin-b-30">
                                    <div class="img"><span class="iconwrp"><i class="pe-7s-headphones"></i></span></div>
                                    <div class="info">
                                        <h3 class="heading-content tiny margin-b-5">Phone</h3>
                                        <p class="margin-b-0">+1234-567-890</p>
                                    </div>
                                </div>

                                <hr class="margin-tb-20">

                                <div class="info-obj margin-b-0 info-box-01 img-l gap-20 tiny animated fadeInUp" data-ckav-smd="margin-b-30">
                                    <div class="img"><span class="iconwrp"><i class="pe-7s-map-2"></i></span></div>
                                    <div class="info">
                                        <h3 class="heading-content tiny margin-b-5">Address</h3>
                                        <p class="margin-b-0">PO Box 16122, Collins Street West, Victoria 8007, Australia</p>
                                    </div>
                                </div>

                                <form class="form-widget form-control-op-02 margin-t-60">
                                    <div class="field-wrp">
                                        <input type="hidden" name="to" value="c.kav.art@gmail.com">
            
                                        <div class="row gt10">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input class="form-control radius-6" data-label="Name" required="" data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input class="form-control radius-6" data-label="Email" required="" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <input class="form-control radius-6" required="" data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
                                        </div>
            
                                        <div class="form-group">
                                            <textarea class="form-control radius-6" data-label="Message" required="" data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="button solid color-button-dark width-100 margin-0"><i class="fa fa-envelope-o"></i> SUBMIT</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ======= END : CONTACT SECTION =======  -->

        </div>
        <!-- ************** END : PAGE SECTION **************  -->

    </div>
    

<!-- COMMON VENDOR SCRIPTS -->
<script src="vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="vendor/jquery/jquery-migrate-3.0.0.min.js"></script>
<script src="vendor/popper/umd/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="vendor/sweetalert/sweetalert2.min.js"></script>
<script src="vendor/jarallax/jarallax.min.js"></script>
<script src="vendor/owlcarousel/owl.carousel.min.js"></script>
<script src="vendor/swiper/js/swiper.min.js"></script>
<script src="vendor/jQuery-viewport-checker/jquery.viewportchecker.min.js"></script>
<script src="vendor/enquire/enquire.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="vendor/isotope/imagesloaded.pkgd.min.js"></script>
<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<script src="vendor/isotope/packery-mode.pkgd.min.js"></script>

<!-- PAGE SPECIFIC VENDOR SCRIPTS -->
<script src="vendor/vegas/vegas.min.js"></script>
<script src="vendor/youtubebackground/jquery.youtubebackground.js"></script>

<!-- TEMPLATE COMMON SCRIPTS -->
<script src="minify/ckav_min.js"></script>

</body>
</html>